# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
scratch/
/videos/
!public/videos/
!public/videos/**
hero background video.mp4
85F5D2FE-E19E-4B3E-BA81-1D06367187E1-Photoroom.png

.vercel
